@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
}

.HeaderBox {
    flex: .1;
    display: flex;
}

.ViewBox {
    display: flex;
    flex: 3;
    justify-content: center;
    flex-direction: row;
    width: 95%;
    border-radius: 40px;
    background-color: #FFFAFA;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.247);
}

.LeftSide {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.MenuBar {
    display: flex;
    flex-direction: column;
    background-color: #F9F5F5;
    width: 90%;
    height: 94%;
    border-radius: 30px;
}

.menuHeader {
    display: flex;
    flex: 1.2;
    justify-content: space-between;
    align-items: center;
}

.menuTitles {
    display: flex;
    font-family: "Alata", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    margin-left: 10%;
    color : #363535;
}

#menuIcon {
    display: flex;
    height: 20%;
    margin-right: 10%;
}

.menuSearch {
    display: flex;
    flex: 1;
    justify-content: center;

}
.searchInput{
    padding: 10px;
    border-radius: 40px;
    border: none;
    width: 90%;
    height: 65%;
    padding-left: 5%;
    background-color: #F2EFEF;
    font-family: "Alata", system-ui;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    color: #363535;
}

.menuTasks {
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: center;
}

.tasksBox{
    display: flex;
    flex-direction: column;
    background-color: #F2EFEF;
    width: 90%;
    height: 90%;
    border-radius: 30px;
    align-self: center;
    margin-top: 5%;
}

.menuFilters {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
}
.filtersBox{
    display: flex;
    flex-direction: column;
    background-color: #F2EFEF;
    width: 90%;
    height: 70%;
    border-radius: 30px;
    align-self: center;
    margin-top: 5%;
}

.RightSide {
    display: flex;
    flex: 3;
    flex-direction: column;
}

.WorkspaceHeader{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    background-color: darkgreen;
}

.WorkspaceTitle{
    display: flex;
    font-family: "Alata", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 74px;
    margin-left: 10%;
    color: #363535;
}

.WorkspaceBody{
    display: flex;
    flex: 5;
    justify-content: space-between;
    align-items: center;
    background-color: #12bd2f;
}

.FooterBox {
    flex: .1;
    display: flex;
}